<h3> Requirement Management
</h3>
Using HP ALM you can define requirements to meet your business and testing needs. You can manage the requirements and conduct multi-dimensional traceability between requirements, tests and defects, across multiple releases and cycles. ALM provides real-time visibility of requirements coverage and associated defects to evaluate quality and business risk.You can add traceability between the requirements. When analyzing the impact of a change proposed in a specific requirement, traceability shows the other requirements that the change might affect.
<br>


<h3> Configuration Management
</h3>
Clear Case is a software tool for revision control of source code and other software development assets. Revision control is any practice that tracks and provide control over changes to source code. Features: Effective development: It allows users to share their work at the same time isolating themselves from destabilizing changes. Effective management : It tracks the software build process so that user determines what was build and how it was build. Enforcement of development policies: It enables project administrator to define development policies and procedures and to automate their enforcement.
<br>


<h3> Workflow Management
</h3>
Rational ClearQuest and Rational Team Concert are workflow automation tool from the Rational Software division of IBM. Features: It provides bug tracking, change tracking, process automation, reporting and lifecycle traceability for better visibility and control of the software development lifecycle.Flexible, customizable and automated workflows provide repeatable, enforceable and predictable processes. 
<br>

<h3> Test Management
</h3>
HP Quality Center software is a Web-based quality management platform that can be used for a single project or across multiple IT projects to manage application quality across the entire application lifecycle. The solution provides requirements management, release and cycle management, test management, defect management and reporting all from a single platform. Features: HP Quality Center is a test management tool from HP. HP Quality Center is a Web-based platform for quality management. It can be used for a single project or across numerous projects to manage quality of application across its lifecycle. Quality Center provides test management, defect management, requirement management ,release and cycle management and reporting all from a single platform.
<br>


<h3> SAP Tooling
</h3>
KI4SAP Implementation Package takes benefit of KI by applying some of the project management and support processes. This page provides the references to what should be used for running SAP Package Implementation contract using KI. Tooling Services has been launched to cater to the toolings identified in KI4SAP. The services which are being offered as of now are LIVE Tools,Licensing LIVE Tools,Installation LIVE Tools
<br>


<h3> Toolbox
</h3>
Web based application which communicates with several KI tools like Clear Case, Requisite Pro, HPQC etc. It provides flexible & user friendly platform allowing user to work with various Dashboards, End to End Traceability of KI tooling. Features: Traceability Tool On Demand Report HPQC Portal ClearCase Portal HPQC Portal: This is also a web based application which is used to centrally organized administration of domains and projects of HPQC tools. ClearCase Portal: This is also web based application which is used to perform administrative operations of Clear Case tool.
<br>


<h3> Reports
</h3>
   KI Crystal Reporting helps us to generate various graphs and dashboards at project level as well as tool level which helps to have better management view. KI License Stats Report : To track the Users license utilization Info for the different KI Tools. KI Tool Usage-Weekly Variation Max License Use KI Tool Usage Statistics For last 90 days
<br>


<h3> Scope
</h3>
Administration of domains and projects is centrally organized by the KI team.Atos Global B&PS KI is responsible for effective implementation of KI tools and processes across Atos globally. The key to effective implementation of tools is increase in number of tools usage by providing efficient support. KI supports all Atos countries for administration and maintenance of SDLC tools to achieve standardized, globalized, centralized organization of tools within Atos. Management of domains and projects is centrally organized by the KI.
 <br>