<h2 class="text-center">Customer Feedback Measurement</h2>

<p>
    
    End User Feedback system helps to capture the valuable customer feedbacks to analyze the scope of improvement for Support

    Feedback can be classified country wise to narrow down the improvement scope at country level as well as tool wise to understand the tool level mitigations.

    Foundation Blocks of Feedback system are Resolution Time, Quality & Communication
</p>

<div style="margin-left: 10%; margin-right: 10%;">
    <!-- <h4>Qwality of Tickets Received</h4> -->
    <img src="../../../../assets/Quality of Tickets.jpg" class="img-responsive"  alt="Qwality of Tickets Received"><br>

    <!-- <h4>Total Feedback Received</h4> -->
    <img src="../../../../assets/Feedback Received.jpg" class="img-responsive"  alt="Total Feedback Received"><br>

    <!-- <h4>Overall Experience Rating </h4> -->
    <img src="../../../../assets/Rating.jpg" class="img-responsive"  alt="Overall Experience Rating"><br>
</div>