<mat-nav-list >
    <!-- <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div> 
    </div> -->
    <div style="padding-left: 10px;">
        <img src="../../../../assets/Atos-Logo-4.png"  class="img-responsive" width="110px" alt="ATOS LOGO">
    </div>
    

    <!-- <mat-divider></mat-divider> -->
    <br>

    <mat-accordion>

    <!-- <h6 matSubheader>Dashboard</h6> -->

    <mat-expansion-panel>
        <mat-expansion-panel-header [routerLink]="['/dashboard']">
            <mat-icon >insert_chart</mat-icon>
            <a style="padding:3px 0 0px 10px;" >Dashboard</a>
            
        </mat-expansion-panel-header>
            
            <mat-nav-list>
                <a mat-list-item class="abc" [routerLink]="['/dashboard/KI_Tools_Measurement']"><mat-icon>arrow_right</mat-icon>KI_Tools_Measurement</a>
                <a mat-list-item class="abc" [routerLink]="['/dashboard/Customer_Feedback']"><mat-icon>arrow_right</mat-icon>Customer_Feedback</a>
                <a mat-list-item class="abc" [routerLink]="['/dashboard/Site_Availability']"><mat-icon>arrow_right</mat-icon>Site_Availability</a>
            </mat-nav-list>
                   
     </mat-expansion-panel>
    
    <!-- <mat-divider></mat-divider>

    <h6 matSubheader>Services</h6> -->

    <mat-expansion-panel>
        <mat-expansion-panel-header [routerLink]="['/services']">
            <mat-icon >widgets</mat-icon>
            <a style="padding:3px 0 0px 10px;" >Services</a>
            
        </mat-expansion-panel-header>
            
            
                <a mat-list-item [routerLink]="['/services/hpalm']">       <mat-icon>arrow_right</mat-icon>        HPALM</a>
                <a mat-list-item [routerLink]="['/services/rtc']">         <mat-icon>arrow_right</mat-icon>        RTC</a>
                <a mat-list-item [routerLink]="['/services/github']">      <mat-icon>arrow_right</mat-icon>        GITHUB</a>
                <a mat-list-item [routerLink]="['/services/worksmart']">   <mat-icon>arrow_right</mat-icon>        Worksmart</a>
                <a mat-list-item [routerLink]="['/services/cep']">         <mat-icon>arrow_right</mat-icon>        CEP</a>
                <a mat-list-item [routerLink]="['/services/sfdb']">        <mat-icon>arrow_right</mat-icon>        SFDB</a>
                <a mat-list-item [routerLink]="['/services/cleasrcase']">  <mat-icon>arrow_right</mat-icon>        ClearCase</a>
                <a mat-list-item [routerLink]="['/services/clearquest']">  <mat-icon>arrow_right</mat-icon>        ClearQuest</a>
                <a mat-list-item [routerLink]="['/services/citrixclient']"><mat-icon>arrow_right</mat-icon>        CitrixClient</a>
                <a mat-list-item [routerLink]="['/services/appscan']">     <mat-icon>arrow_right</mat-icon>        AppScan</a>
                <a mat-list-item [routerLink]="['/services/alm-octane']">  <mat-icon>arrow_right</mat-icon>        ALM Octane</a>
                <a mat-list-item [routerLink]="['/services/servicenow']">  <mat-icon>arrow_right</mat-icon>        ServiceNow</a>
         
        </mat-expansion-panel>           
     
     
    <!-- <mat-divider></mat-divider> 
    
    <h6 matSubheader>KI Support</h6> -->

    <mat-expansion-panel>
        <mat-expansion-panel-header [routerLink]="['/KI_Support']">
            <mat-icon >contact_support</mat-icon>
            <a style="padding:3px 0 0px 10px;" >KI Support</a>
            
        </mat-expansion-panel-header>
            
            
                <a mat-list-item [routerLink]="['/KI_Support/New_Project_Creation']">      <mat-icon>arrow_right</mat-icon>        New Project Creation</a>
                <a mat-list-item [routerLink]="['/KI_Support/Ticket_Guidelines']">      <mat-icon>arrow_right</mat-icon>        Ticket Guidelines</a>
                <a mat-list-item [routerLink]="['/KI_Support/KI_SLA']">      <mat-icon>arrow_right</mat-icon>        KI SLA Overiew</a>
               
         
        </mat-expansion-panel>           
     
         
    <!-- <mat-divider></mat-divider> 
    
    <h6 matSubheader>KI Support</h6> -->

    <mat-expansion-panel>
        <mat-expansion-panel-header [routerLink]="['/dashboard']">
            <mat-icon >storage</mat-icon>
            <a style="padding:3px 0 0px 10px;" >Others</a>
            
        </mat-expansion-panel-header>
            
            
                <a mat-list-item [routerLink]="['/dashboard']">      <mat-icon>arrow_right</mat-icon>        Articles</a>
                <a mat-list-item [routerLink]="['/Entire_Team']">      <mat-icon>arrow_right</mat-icon>        Meet our Team</a>
               
         
        </mat-expansion-panel>           
     
    
    </mat-accordion>

</mat-nav-list>