<h3 class="text-center"><b> KI Tools Measurement </b> </h3>
<br>
<p>
     KI Tools Measurements helps us identify the quality of service we provide to our clients. The different graph below indicates the number of queries & incidents, handled by KI Tools team.As well as further below graphs describe the quality of service we provide to our clients. We do respect our Service Level Agreement which helps to avoid any disruption in service to our clients.Our aim is to provide our clients best quality service & fastest service.
</p>     

<div style="margin-left: 10%; margin-right: 10%;">
    <!-- <h4>KI Tools Tickets Trend Analysis</h4> -->
    <img src="../../../../assets/Ticket_Trend.png" class="img-responsive"  alt="KI Tools Tickets Trend Analysis"><br>

    <!-- <h4>KI Tools Tickets Trend per Country</h4> -->
    <img src="../../../../assets/Tickets per Country.png" class="img-responsive" alt="KI Tools Tickets Trend per Country"><br>

    <!-- <h4>KI Tools SLA Trend </h4> -->
    <img src="../../../../assets/SLA Trend.png" class="img-responsive"  alt="KI Tools SLA Trend"><br>
</div>
